
:root {
    --camogreen: #7A9663;
    --powderblue: #B0E0E6;
    --errieblack: #15191E;
    --laurelgreen: #A0AE91;
    --rhythm: #7660A7; 
    --darkvanilla: #FFF3E1;
}

body {
    background-color: #15191E;
    height: 90vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
h1 {
    color: var(--rhythm); 
    text-align: center;
    font-family:'verdana', sans-serif;
}
h2 {
    color: var(--powderblue);
}
p {
    color: var(--powderblue);
    font-size: 15px;
    font-family: 'verdana', sans-serif;
    padding: 10px;
    margin: 20px; 
}
b {
    color: var(--cream);
    font-family: 'verdana', sans-serif;
    text-align: center;
}
a {
    color: var(--rhythm);  
    font-size: 20px;
    /* border: 1px solid var(--rhythm); */
    /* border-radius: 30px;  */
}
button {
    border: 1px solid var(--rhythm); 
    border-radius: 30px;
    background-color: transparent;
    color: var(--rhythm); 
    font-size: 16px;
    margin: 10px;
    cursor: pointer; 
}
img {
    padding: 10px;
    border-radius: 30px; ;
}
mark {
    background-color: transparent;
    color: var(--darkvanilla);
    font-weight: bold;
}
div {
    background-color: var(--errieblack);
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.topnav {
    overflow: hidden; 
    background-color: var(--errieblack);
    display: flex-center;
}
.topnav a, button {
    float: center; 
    color: var(--darkvanilla); 
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.topnav a, button:hover {
    background-color: var(--darkvanilla);
    color: black;
}
.sidebar {
    background-color: var(--errieblack);
    padding: 10px;
    margin: 10px;
    text-align: left;
}
.sidebar a {
    color: var(--darkvanilla);
    padding: 14px;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: var(--darkvanilla);
    color: black;
}
.projects a{
    background-color: var(--errieblack);
    padding: 10px;
    margin: 10px;
    color: var(--darkvanilla);
    text-decoration: none; 
}
