root {
  --primary-color: #1e90ff; 
  --text-color: black; 
  --main-padding: 15px;    
  --font-family: Serif; 
}
body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em; 
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 100%;
    line-height: 140%;
    color: #333; 
}
pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #333;
    padding: 0.5em;
}
code {
    font-family: monospace;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: black 
}
h1, h2, h3, h4, h5 { font-family: var(--font-family);
                     font-weight: bold;
                     border-bottom: 1px dotted black;
                     color: Black; }
h1 {
        font-size: 130%;
        text-align: center; 
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: center;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }