* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
}

/* background */
.bg {
  background: linear-gradient(to top right, #060628, #1F245A, #682359);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* window */
.window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  z-index: 5;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  overflow: hidden;
  transition:
    top .5s cubic-bezier(.1, 1.2, .3, 1),
    transform .5s cubic-bezier(.1, 1.2, .3, 1),
    width .5s .5s cubic-bezier(.1, 1.2, .3, 1),
    opacity .3s;
}

/* window controls */
.window .window-controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 30px;
  width: 60px;
}

.window .window-controls .maximize {
  background-color: rgb(232, 234, 236);
  position: absolute;
  top: -30px;
  left: 0;
  opacity: 0;
  z-index: 9;
  width: 200px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: rgb(180, 185, 190);
  cursor: pointer;
  transition:
    opacity .3s .5s,
    top 0s .8s;
}

.window .window-controls .close,
.window .window-controls .minimize {
  opacity: .5;
  cursor: pointer;
}

.window .window-controls .close:hover,
.window .window-controls .minimize:hover {
  opacity: .7;
}

.window .window-controls .close:active,
.window .window-controls .minimize:active {
  opacity: 1;
}

/* close button */
.window .window-controls .close {
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
}

.window .window-controls .close::before,
.window .window-controls .close::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  top: 14px;
  left: 9px;
}

.window .window-controls .close::before {
  transform: rotate(45deg);
}

.window .window-controls .close::after {
  transform: rotate(-45deg);
}

/* minimize button */
.window .window-controls .minimize {
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
}

.window .window-controls .minimize::before,
.window .window-controls .minimize::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  top: 14px;
  left: 10px;
}

.window .window-controls .minimize::before {
  transform: translateX(-3px) rotate(45deg);
}

.window .window-controls .minimize::after {
  transform: translateX(3px) rotate(-45deg);
}

/* sidebar */
.window .window-sidebar {
  width: 200px;
  height: 400px;
  background-color: rgb(232, 234, 236);
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 30px;
  z-index: 4;
}

.window .window-sidebar .content-block {
  height: 60px;
  width: 100%;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, .05);
}

.window .window-sidebar .content-block::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  top: 10px;
  left: 10px;
  opacity: .05;
}

.window .window-sidebar .content-block::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 10px;
  background-color: black;
  top: 25px;
  left: 60px;
  opacity: .05;
  border-radius: 5px;
}

/* content */
.window .window-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 400px;
}

.window .window-content::before {
  content: "";
  position: absolute;
  width: 460px;
  height: 200px;
  background-color: black;
  top: 20px;
  left: 20px;
  opacity: .05;
  border-radius: 5px;
}

.window .window-content::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 10px;
  background-color: black;
  top: 240px;
  left: 60px;
  opacity: .05;
  border-radius: 5px;
}

/* minimized state */
body.minimized .window {
  top: 100%;
  transform: translate(-50%, -30px);
  width: 200px;
  opacity: .5;
}

body.minimized .window:hover {
  opacity: .75;
}

body.minimized .window .maximize {
  top: 0;
  opacity: 1;
  transition:
    opacity .3s .5s,
    top 0s .5s;
}

/* text */
.text {
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(350px, -200px);
  z-index: 10;
  padding-left: 20px;
}

.text .title {
  font-size: 20px;
  line-height: 20px;
  display: block;
  margin-bottom: 5px;
}

.text .name {
  display: block;
  opacity: .5;
}
